name: DEPLOY TO STAGING

on:
    pull_request:
        types : [closed]
        branches:
            - main

jobs:
    aws-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  ref: main
            - uses: actions/setup-node@v3
                with:
                    node-version: 16
            - run: npm install
            - run: npm run build
            - name: Deploy to Server
              uses: easingthemes/ssh-deploy@v2.1.1
              env:
                    SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
                    ARGS: "-rltgoDzvO --delete"
                    SOURCE: "dist/"
                    REMOTE_HOST: "project2.eaglesoftwareteam.com"
                    REMOTE_USER: ubuntu
                    TARGET: "/var/www/html/project2/2022/t4"
